*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************** navbar */
.nb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #35424a;
    color:white;
}
.span{
    color:#a9508b;
}
.nav-Link{
    color: white !important;
    font-size: 32px !important;

}
.nav-Link:hover{
    color: white !important;
    font-weight: 700 !important;
}
.active{
    color:#a9508b !important;
}
/************** header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-around !important;
    background-color: #35424a;
    height: 150px;
    color: white;
    border-bottom: 5px;
}
.buton{
    color: white;
    background-color: #e8491d;
    border: none;
    border-radius: 2px;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
}
input{
    padding: 8px 50px;
}

.banner{
    background: url(./assets/showcase.jpg);

}
/************** main */
/************** footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #35424a;
    height: 150px;

}

